.contactus {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.contactus > div {
	padding: 20px;
	text-align: center;
	/* box-shadow: 5px 10px 20px rgba(7, 108, 162, 0.3); */
}
.contactus h3 {
	width: fit-content;
	margin: 10px auto;
	padding: 2px 10px;
	text-align: center;
	border-bottom: 2px solid green;
}

.contactinfo {
	display: flex;
	flex-wrap: wrap;

	width: 90vw;
	justify-content: space-around;
}
