.aboutParagraph {
	display: flex;
	flex-wrap: wrap;
}
.aboutCard {
	margin: 10px auto;
	width: 90vw;
	max-width: 700px;
	margin: 2px auto;
	padding: 20px;
	background-color: white;
	/* border-left: 3px solid green; */
	display: grid;
	place-items: center;
	box-shadow: 5px 5px 5px rgba(0, 128, 0, 0.3);
}
.aboutCard p {
	/* padding: 10px; */

	font-size: 1.2rem;
}
